
<div>
    <h3>Add Employee</h3>
    <form (ngSubmit)="addEmployee()">
      <div>
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="newEmployee.firstName">
      </div>
      <div>
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="newEmployee.lastName">
      </div>
      <div>
        <label for="email">Email</label>
        <input type="email" id="email" name="email" [(ngModel)]="newEmployee.email">
      </div>
      <button type="submit">Submit</button>
    </form>
  </div>
